
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
 <div class="container-fluid">
  <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i><div class="nav-name"><h3><b>Odyssey</b></h3></div></a>

  <button
   class="navbar-toggler" 
   type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
   id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class=" nav-link" href="/">Home</a> -->
      <a class="nav-link" href="/listings">Explore</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-link " href="/listings/new"> List Your Home Today</a>

      <% if(!currUser) { %>
      <a class=" nav-link active" href="/signup"><b>Sign Up</b></a>
      <a class="nav-link" href="/login"><b>Log in</b></a>
      <% } %> <% if(currUser) { %>
      <a class="nav-link " href="/logout">Log out</a>
      <% } %>
    </div>
  </div>
</div>
</nav>


