body {
    background-color : rgb(233, 155, 168);
    flex-direction: column;
    height: 100vh;
}

.container{
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.name{
    color : red;
    font-family :fantasy;
}

.fa-compass {
    color: red;
    font-size: 2rem;
}

.nav-link{
    color : #222222 !important;
}

/*Footer */

.f-info {
    height:10rem;
    text-align: center;
    display: flex;
    background-color: rgb(240, 236, 236);
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


.f-info-links a{
text-decoration: none;
color: black;
}

.f-info-links {
    width: 100%;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
    margin: 2rem;
}

.add-btn{
    background-color: red !important;
    border: none !important;
}

.card{
    border: none !important;
    margin: 1.5rem;
    
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% ! important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
    
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color:white ;
}









