body {
    background-color : rgb(233, 155, 168);
}

.navbar {
    height: 5rem;
    background-color: white;
}

.name{
    color : blue;
    font-family :fantasy;
}

.fa-compass {
    color: red;
    font-size: 2rem;
}

.nav-link{
    color : #222222 !important;
}

/*Footer */
.f-info-links a{
text-decoration: none;
color: black;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
    margin: 2rem;
}

.f-info {
    height: 8rem;
    display: flex;
    background-color: rgb(247, 220, 220);
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}




